:root {
    --color-header: #ebf7f8;
    --color-bordes-section: #d0e0eb;
    --color-titulos: #010d23;
    --color-texto: #03223f;
    --color-skills: #177f0e;
    --color-fondo: #ffffff;
    --texto: 'Lato', sans-serif;
    --titulos: 'Rubik', sans-serif;
}

* {box-sizing:border-box}

body {
    color: var(--color-texto);
}

.header {
    background-image: url("img/fondo.jpg");
    background-size: cover;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}

.header-titulo {
    color: var(--color-header);
    font-family: var(--titulos);
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.h1 {
    text-align: center;
}

.header-titulo p {
    font-size: 1.2rem;
}

.header-foto img {
    width: 180px;
    border-radius: 50%;
}

.redes {
    display: flex;
    justify-content: center;
}

.contacto img {
    margin-left: 2rem;
}

main {
    font-family: var(--texto);
    background-color: var(--color-fondo);
}


.seccion {
    padding: 1rem;
    border: 1px solid var(--color-bordes-section);
    margin: 1rem;
    border-radius: 5px;
}

.seccion-titulo {
    font-family: var(--titulos);
    color: var(--color-titulos);
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.experiencia li, .educacion li {
    margin-bottom: 2rem;
}

.institucion, .skills-titulo{
    font-size: 1.2rem;
    font-weight: bold;
}

.fecha {
    font-style: italic;
}

.skill {
    margin-bottom: 1rem;
}

.proyectos {
    display: flex;
    margin-bottom: 1rem;
}

.btn {
    margin-right: 2rem;
}

footer {
    font-family: var(--texto);
    background-color: var(--color-titulos);
    color: var(--color-header);
    text-align: center;
    padding: 1rem 0;
}